*,
::before,
::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   line-height: 1.5;
   background-color: #e6e6e6;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
