@import 'vantage-theme';

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   line-height: 1.5;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: auto;
}

// .mdc-button,
// .mdc-tab {
//    .mdc-button__label {
//       font-weight: 600;
//    }

//    &.text-transform-none {
//       text-transform: none;

//       &.white {
//          color: #ffffff;
//          font-weight: normal;
//       }
//    }
// }

// .mdc-text-field {
//    &.medium {
//       height: 36px;
//    }
// }

// .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon.label {
//    font-style: normal;
// }

// .mdc-list-item {
//    i.mdc-text-field__icon {
//       padding-right: 10px;
//    }
// }

// .mdc-snackbar {
//    &.error {
//       .mdc-snackbar__surface {
//          background-color: $mdc-theme-error;
//       }
//    }
//    &.good {
//       .mdc-snackbar__surface {
//          background-color: #2e7d32;
//       }
//    }
// }

// .vantage-input {
//    display: flex;
//    flex-wrap: wrap;
//    align-items: baseline;

//    &.n1 {
//       flex-wrap: nowrap;
//    }

//    .input {
//       flex-basis: 100%;
//       min-width: 250px;

//       .display {
//          display: flex;
//          justify-content: space-between;
//          align-items: center;
//          height: 36px;
//          .label {
//             color: rgba($color: #000000, $alpha: 0.54);
//          }
//       }
//       &.metric {
//          flex-basis: calc(100% - 110px);
//          margin-right: 10px;
//       }
//       &.split {
//          display: flex;
//       }
//       &.display {
//          .mdc-text-field__input,
//          i {
//             font-style: normal;
//             border: none;
//             color: rgba($color: #000000, $alpha: 0.54);
//          }
//          .mdc-text-field__input {
//             color: black;
//          }
//       }
//    }
//    .metric-value {
//       font-size: 14px;
//       color: gray;
//       flex-basis: 100px;
//       margin: 0;
//       white-space: nowrap;
//    }
// }

// @import '@material/typography/mixins';

// html {
//    @include mdc-typography('body1');
// }

// h1 {
//    @include mdc-typography('headline1');
// }

// h2 {
//    @include mdc-typography('headline2');
// }

// h3 {
//    @include mdc-typography('headline3');
// }

// h4 {
//    @include mdc-typography('headline4');
// }

// h5 {
//    @include mdc-typography('headline5');
// }

// h6 {
//    @include mdc-typography('headline6');
// }

// caption {
//    @include mdc-typography('caption');
// }

// code,
// pre {
//    font-family: 'Roboto Mono', monospace;
// }

// small {
//    font-size: 0.9em;
// }

// big {
//    font-size: 1.1em;
// }

// b,
// strong {
//    font-weight: bold;
// }
