@use 'vantage-theme';

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   line-height: 1.5;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: auto;
}

.input-bump {
   margin-bottom: 19px;
   &.link {
      div {
         flex-grow: 1;
      }
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
}

fieldset {
   @include vantage-theme.vantage-paper;
   border: none;
   background-color: white;
   margin: 5px;
}

fieldset > hr {
   clear: both;
   border: 1px solid vantage-theme.$mdc-theme-primary;
}

legend {
   font-size: 1.1rem;
   margin: 6px 0 10px;
   float: left;
   clear: right;
}
