@import 'smui-theme';

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   line-height: 1.5;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
}

.mdc-button {
   .mdc-button__label {
      font-weight: 600;
   }

   &.text-transform-none {
      text-transform: none;
      &.white {
         color: #ffffff;
         font-weight: normal;
      }
   }
}

.mdc-list-item {
   i.mdc-text-field__icon {
      padding-right: 10px;
   }
}

.mdc-snackbar.error {
   .mdc-snackbar__surface {
      background-color: $mdc-theme-error;
   }
}

@import '@material/typography/mixins';

html {
   @include mdc-typography('body1');
}

h1 {
   @include mdc-typography('headline1');
}

h2 {
   @include mdc-typography('headline2');
}

h3 {
   @include mdc-typography('headline3');
}

h4 {
   @include mdc-typography('headline4');
}

h5 {
   @include mdc-typography('headline5');
}

h6 {
   @include mdc-typography('headline6');
}

caption {
   @include mdc-typography('caption');
}

code,
pre {
   font-family: 'Roboto Mono', monospace;
}

small {
   font-size: 0.9em;
}

big {
   font-size: 1.1em;
}

b,
strong {
   font-weight: bold;
}
