$mdc-theme-primary: #ffcb30;
$mdc-theme-secondary: #4d4d4d;
$mdc-theme-error: #b00020;

$mdc-elevation-1: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
$mdc-elevation-2: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
$mdc-elevation-3: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);

@mixin vantage-paper {
   box-shadow: $mdc-elevation-3;
   background-color: #ffffff;
}

@mixin vantage-border {
   border-top: 5px solid $mdc-theme-primary;
}

@mixin vantage-fieldset {
   @include vantage-paper;
   border: none;
   margin: 5px;

   hr {
      clear: both;
      border: 1px solid $mdc-theme-primary;
   }

   legend {
      font-size: 1.1rem;
      margin: 6px 0 10px;
      float: left;
      clear: right;
   }
}
